.filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    select, input {
        padding: 10px;
        font-size: 16px;
        margin-right: 10px;
    }
    select {
        margin-bottom: 20px;
    }
    input {
        width: 200px;
        margin-bottom: 20px;
    }
    .clear-filters {
        color: #fff;
        background-color: #333;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
